@page "/User-info"
@model UserInfoModel
@{
    Layout = "Shared/_Layout";
    var username = @User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Name)?.Value;
}

<div>
    <h2> About me
        <div class="dropdown">
            <button class="dropbtn">Sort after</button>
            <div class="dropdown-content">
                <a href="?SortOrder=Newest">Newest</a>
                <a href="?SortOrder=Oldest">Oldest</a>
            </div>
        </div>
    </h2>

    <h4>Username: @User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Name)?.Value</h4>

    <h4>Email: @User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Email)?.Value</h4>
    <br>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        @{
                            var user = @cheep.Author.Split(" ");
                            var imageUrl = "images/placeHolder.png";
                            if (user.Length == 1)
                            {
                                imageUrl = "https://github.com/" + user[0] + ".png";
                            }
                        }
                        <img id="userImage" src="@imageUrl" width="47" height="47" onload="checkImage()">
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                        @if (cheep.Author == User.Claims.FirstOrDefault(x => x.Type ==
                       System.Security.Claims.ClaimTypes.Name)?.Value)
                        {
                        <div class="reactions-container">
                            <form method="post" asp-page-handler="HandleReaction" asp-route-reactionType="@Core.ReactionType.Like"
                                asp-route-username="@User.Identity.Name" asp-route-cheepId="@cheep.Id">
                                <button class="reaction-button"
                                    style="@(Model.HasUserReacted(cheep.Id, @User.Identity.Name, @Core.ReactionType.Like).Result ? "background-color: pink;" : "")">
                                    <i>&#x1F44D;</i>
                                    <span class="reaction-count" id="@cheep.Id">
                                            @Model.GetLikeCount(cheep.Id, @Core.ReactionType.Like).Result
                                    </span>
                                </button>
                            </form>

                            <form method="post" asp-page-handler="HandleReaction"
                                asp-route-reactionType="@Core.ReactionType.Dislike" asp-route-username="@User.Identity.Name"
                                asp-route-cheepId="@cheep.Id">
                                <button class="reaction-button"
                                    style="@(Model.HasUserReacted(cheep.Id, @User.Identity.Name, @Core.ReactionType.Dislike).Result ? "background-color: pink;" : "")">
                                    <i>&#x1F44E;</i>
                                    <span class="reaction-count" id="@cheep.Id">
                                            @Model.GetLikeCount(cheep.Id, @Core.ReactionType.Dislike).Result
                                    </span>
                                </button>
                            </form>

                            <form method="post" asp-page-handler="HandleReaction" asp-route-reactionType="@Core.ReactionType.Skull"
                                asp-route-username="@User.Identity.Name" asp-route-cheepId="@cheep.Id">
                                <button class="reaction-button"
                                    style="@(Model.HasUserReacted(cheep.Id, @User.Identity.Name, @Core.ReactionType.Skull).Result ? "background-color: pink;" : "")">
                                    <i>&#x1F480;</i>
                                    <span class="reaction-count" id="@cheep.Id">
                                            @Model.GetLikeCount(cheep.Id, @Core.ReactionType.Skull).Result
                                    </span>
                                </button>
                            </form>
                            <form method="post" asp-page-handler="Delete" asp-route-cheepId="@cheep.Id">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                        }
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>You have yet to post any cheeps.</em>
    }
    @{
        await Html.RenderPartialAsync("PaginationModel", Model.PaginationModel);
    }

    <div style="text-align: center">
        <form method="post" asp-page-handler="DeleteUser">
            <button type="submit" style="Color:Red">Forget me!</button>
        </form>
        <p>⚠️ Warning! ⚠️</p>
        <p>By Pressing "Forget me!", all your data will be deleted</p>
    </div>
</div>