@page "/{author}/{pagen:int?}"
@model UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
    var pageName = HttpContext.GetRouteValue("pagen");
}

<div>
    <h2> @routeName's Timeline 
        <div class="dropdown">
        <button class="dropbtn">Sort after</button>
        <div class="dropdown-content">
            <a href="?SortOrder=Newest">Newest</a>
            <a href="?SortOrder=Oldest">Oldest</a>
        </div>
    </div>
    </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        @{
                            var imageUrl = "https://github.com/" + @cheep.Author + ".png";
                        }
                        @* The 47 is hardcoded, can be done better using css *@
                        <img src=@imageUrl width="47" height="47">
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                        @if (cheep.Author == User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Name)?.Value)
                        {
                        <form method="post" asp-page-handler="Delete" asp-route-cheepId="@cheep.Id">
                             <button type="submit">Delete</button>
                        </form>
                        }
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    @{
        await Html.RenderPartialAsync("PaginationModel", Model.PaginationModel);
    }
</div>
